$nav-bgcolor1: #e0301e;
$nav-bgcolor2: #d04a02;
$side-bar-bgcolor: #333333;
$font-color1: #2d2d2d;
$font-color2: #ffffff;
$font-color3: #e0301e;
$active-button-color: #f1801a;
$button-color: rgba(256, 256, 256, 0.31);
$button-color1: #db536a;
$danger: #e0301e;
$green: #1a9b2b;
